<div class="tag-list-input">
<%= simple_form_for(summary, remote: true) do |f| %>
  <%= f.input :category_list, label: "Category", placeholder: "Please add the category separated using ' , '"%>
  <%#= f.input :category_list, collection: User::LANGUAGE, prompt: :translate %>
  <%= f.button :submit, "ADD", :class => "btn-link"%>
<% end %>
</div>
