<div class="tag-list-input">
<%= simple_form_for(summary, remote: true) do |f| %>
  <%= f.input :category_list, label: "Tags", placeholder: "Please add your tag, separated using ','"%>
  <%#= f.input :category_list, collection: User::LANGUAGE, prompt: :translate %>
  <%= f.button :submit, "Add the category", :class => "btn-outline-secondary" %>
<% end %>
</div>
