<div class="tags-input">

  <%= simple_form_for(summary, remote: true) do |f| %>
    <%= f.hidden_field :category_list %>
    <%= select_tag "category", options_from_collection_for_select(
      ActsAsTaggableOn::Tag.all.map { |tag| tag }.sort_by { |tag| tag.name }, :name, :name), class: 'select2', multiple: "multiple" ,style: "width: 40%; margin: 0 auto;"%>
    <%= f.button :submit, "ADD", :class => "btn-link", :id => "submit-tag", style: "font-family: 'Lato'"%>
  <% end %>

</div>
