<div class="import-container">

  <div class="import-content">
    <div class="import-title">
      <h3>Extract the summary of your web articles<br> the fastest way</h3>
      <p>Go explore!</p>
    </div>

    <div class="container">

      <%= @summary[:article_url] %>

      <%= render 'form', summary: @summary %>

      <%#= link_to 'Back', summaries_path %>

    </div>

  </div>
</div>

