<div class="import-container">
  <div class="import-title">
    <h2>Get the summary of your web articles the fastest way</h1>
    <p>Go explore!</p>
  </div>
  <%= @summary[:article_url] %>

  <%= render 'form', summary: @summary %>

  <%= link_to 'Back', summaries_path %>

</div>

