.dashboard {
  margin-top: 100px;
}

.dashboard-title {
  h1 {
  text-align: center;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 250px;
  border-bottom: 3px solid black;
  width: 80%;
  margin: 0 auto;
  }
}

.category {
  text-align: center;
  padding-top: 85px;
  a {
    font-family: "Anton";
    font-size: 20px;
    margin: 5px;
  }
}

.dashboard-text {
  padding-bottom: 70px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Quicksand";
  justify-content: center;
}

.dashboard-card {
  width: 600px;
  margin: 30px;
  border: 1px solid grey;
  margin-top: 85px;
  padding: 20px;
  position: relative;
  h3 {
    font-size: 30px;
    font-family: "Anton";
    text-align: center;
    padding-bottom: 40px;
  }
  p {
    font-size: 16px;
    text-align: justify;
    font-family: "Zilla Slab";
    --lh: 2em;
    --max-lines: 5;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: scroll;
  }
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  a {
    color: black;
    font-weight: bold;
  }
}

.dashboard-links {
  display: flex;
  justify-content: center;
  a {
    padding-right: 10px;
    font-size: 15px;
    color: black;
  }
  a {
    text-align: center;
  }
  p {
    padding: 0;
    margin: 0;
    font-family: "Anton";
    letter-spacing: 0.15px;
  }
}

.dashboard-import {
  font-family: "Anton";
  text-align: center;
  font-size: 25px;
  padding-bottom: 45px;
  a {
    color: black;
  }
}

// Media Queries

// iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .dashboard-title {
    h1 {

    font-size: 150px;
    width: 90%;
    }
  }
  .dashboard-import {
    font-size: 20px;
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
  .dashboard-title {
    h1 {
    font-size: 70px;
    width: 90%;
    }
  }
  .dashboard-card {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
  .dashboard-import {
    font-size: 15px;
  }

  .category {
    a {
      font-size: 15px;
      margin: 5px;
    }
  }
}

