.dashboard {
  margin-top: 100px;
}

.dashboard-title {
  h1 {
  text-align: center;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 250px;
  border-bottom: 3px solid black;
  width: 80%;
  margin: 0 auto;
  }
}

.category {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 50px;
  a {
    font-family: "Anton";
    font-size: 20px;
    margin: 5px;
    letter-spacing: 0.5px;
  }
  p {
    font-family: "Anton";
    letter-spacing: 0.6px;
    font-size: 20px;
  }
}

.dashboard-text {
  padding-bottom: 40px;
  position: relative;
  // p::first-letter {
  //   font-size: 30px;
  //   font-weight: bold;
  //   color: rgb(53, 77, 98);
  // }
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Quicksand";
  justify-content: center;
}

.dashboard-card {
  width: 600px;
  margin: 34px;
  border-bottom: 1px solid rgba(53, 77, 98, 0.3);
  margin-top: 0px;
  padding: 25px;
  position: relative;
  h3 {
    font-size: 30px;
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2em;
    a {
      color: rgb(53, 77, 98);
    }
    a:hover {
    color: #5582aa;
    text-decoration: none;
    }
  }
  p {
    font-size: 19px;
    text-align: justify;
    font-family: "Amiri";
    line-height: 1.5em;
    // letter-spacing: -0.5px;
    --lh: 2.3em;
    --max-lines: 2;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
  }
}

.ellipsis {
  position: absolute;
  right: 50%;
  bottom: 10px;
  color: grey;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  visibility: hidden;
  a {
    font-weight: bold;
  }
}

.dashboard-site-name {
  position: absolute;
  bottom: 0;
  left: 25px;
}

.dashboard-card:hover > .stick-bottom {
  visibility: visible;
}

.dashboard-links {
  display: flex;
  justify-content: center;
  a {
    padding-right: 25px;
    font-size: 13px;
    color: rgb(53, 77, 98);
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    color: #5582aa;
  }
  p {
    padding: 0;
    margin: 0;
    letter-spacing: 0.15px;
    font-family: "Lato"
  }
}

.dashboard-tag p {
    text-transform: uppercase;
    letter-spacing: 1px;
  a {
    color: #999;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
}

.dashboard-import {
  font-family: "Anton";
  text-align: center;
  font-size: 25px;
  padding-bottom: 45px;
  a {
    color: black;
  }
}

// Media Queries

// iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .dashboard-title {
    h1 {

    font-size: 150px;
    width: 90%;
    }
  }
  .dashboard-import {
    font-size: 20px;
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
  .dashboard-title {
    h1 {
    font-size: 70px;
    width: 90%;
    }
  }
  .dashboard-card {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
  .dashboard-import {
    font-size: 15px;
  }

  .category {
    a {
      font-size: 15px;
      margin: 5px;
    }
  }
}

