.import-container {
  padding-top: 125px;
  // background-image: url("https://image.noelshack.com/fichiers/2019/50/4/1576168096-newspaper1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  // width: 800px;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1520764588094-8fc067746a8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  // background-position: bottom 170px right 690px;
  font-family: "Quicksand";
  a {
    color: black;
  }
}

.import-content {
  // background-color: rgba(250, 250, 250, 0.7);
  width: 900px;
  margin: 0 auto;
  padding: 50px;
  // background-color: transparent;
}

.import-title {
  text-align: center;
  padding-bottom: 10px;
    h3 {
    font-family: "Lato";
    font-size: 60px;
    padding-bottom: 20px;
    // color: #4c6875;
    text-shadow: 2px 2px 2px black;
    color: white;
  }
    p {
    font-size: 25px;
    color: white;
    font-family: "Lato";
    text-shadow: 1px 1px 1px black;

  }
}

.import-input {
  width: 100%;
  margin: 0 auto;
  label {
    color: white;
  }
}

.import-btn {
   text-align: center;
}

.import-btn input {
  min-width: 140px;
  height: 45px;
  background-color: #354D62;
  color: white;
  font-family: 'Lato';
}

.import-btn input:hover {
  color: white;
  background-color: #576870;
}

.new_summary a {
  color: black;
}

// #loader {
//   position: relative;
//   bottom: 56px;
//   left: 478px;
//   img {
//     height: 70px;
//     width: 70px;
//   }
// }

.import-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#loader {
  img {
  height: 70px;
  width: 70px;
  }
}

// Media Queries

// iPad

// iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .import-container {
    padding-top: 250px;
  }

  .import-content {
    padding: 10px;
    width: 70%;
  }

  .import-title {
    h3 {
      font-size: 30px;
    }
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
    .import-content {
    padding: 10px;
    width: 70%;
  }

  .import-title {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
}

