.password-container {
  padding-top: 150px;
  width: 670px;
  margin: 0 auto;
  font-family: 'Quicksand';
  height: 500px;
}

.password-form {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 150px;
}

.password-title {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/1928151/pexels-photo-1928151.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  height: 180px;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
  h2 {
    text-align: center;
    padding-top: 70px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  }
}

.password-btn {
  display: flex;
  padding: 40px;
  justify-content: center
}

.password-btn a {
  background-color: #6A7E87;
  border-radius: 25px;
  color: white;
  padding: 12px 25px;
  margin-left: 5px
}

.password-btn a:hover {
  color: white;
  background-color: #576870;
  text-decoration: none;
}

.password-inputs {
  padding: 40px;
  width: 500px;
  margin: 0 auto;
}

.password-links {
  text-align: center;
  input {
    color: #6a7e87;
    text-decoration: none;
  }
  input:hover {
    color: #576870;
  }
}
