

.summarized-title {
  width: 65%;
  /* padding-right: 30px; */
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  h1 {
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 55px;
  }
}

.summarized-info {
  padding: 40px 250px 10px 250px;
  font-family: "Lato";
  color: grey;
  i {
    margin-left: 5px;
    color: #354d62;
  }
  i:hover {
    color: grey;
  }
}

.summarized-text {
  // column-count: 2;
  // column-gap: 40px;
  justify-content: center;
  text-align: justify;
  margin: auto;
  padding: 50px 250px 25px 250px;
  p {
    line-height: 2.0em;
    // font-family: "Zilla Slab";
    font-weight: 400;
    font-family: 'Fanwood Text';
    font-size: 19px;
  }
  p::first-letter {
    font-size: 50px;
    font-weight: bold;
    color: rgb(53, 77, 98);
  }
}

.summarized-url {
  padding: 0px 250px 5px 250px;
  font-family: "Lato";
  font-size: 18px;
  a {
    color: grey;
    text-decoration: none;
  }
  a:hover {
    color: #324B62
  }
}

.summarized-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px !important;
  width: 50%;
}

.related-sum-container h3 {
  text-align: center;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 60px;
  font-size: 40px;
}

.related-sum-container {
  .tag a {
    color: black;
  }
}

.summary_tag_list {
  width: 30%;
}

.related-sum-articles {
  text-align: center;
    a {
    color: black;
    font-family: "Fanwood Text";
  }
  p {
    margin: 0;
  }
}


.tags-input form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.tags-input span {
  margin: 0 auto;
}

.tags-input input {
  font-family: 'Lato';
}

.tags-input .btn {
  color: black;
  text-decoration: none;
}

.tags-input .btn:hover {
  color: #FC7978;
}

// .select2-results {
//   // width: 40%;
//   // margin: 0 auto;
// }

.select2-dropdown {
  width: 40%;
  margin: 0 auto;
}

.related-sum-links {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
    a {
    background-color: #354D62;
    width: 174px;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat';
    padding: 10px;
    text-decoration: none;
    }
  a:hover {
    background-color: #576870;
    color: white;
    transition: 0.5s;
  }
}

.bg-img{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  border-top: 2px solid #c4c9ce;
  border-bottom: 2px solid #c4c9ce;
  width: 950px;
  margin: 0 auto;
}
// .chart-bg-img {
//   background-color: rgba(255, 0, 0, 0.5);
//   width: 40%;
//   height: 40%;
//   background: #444;
//   margin: 0 auto;
// }
// .chart-bg-img img.wide {
//   max-width: 100%;
//   max-height: 100%;
//   height: auto;
// }
// .chart-bg-img img.tall {
//   max-height: 100%;
//   max-width: 100%;
//   width: auto;
// }​

#chartdiv {
  width: 80vw;
  height: 600px;
  margin: 0 auto;
  color: #FC7978;
}



 // Media Queries

 // iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .summarized-text {
    column-count: 2;
    padding: 40px;
  }
  .summarized-img {
    width: 50%;
  }
  .summarized-info {
    padding: 40px;
    text-align: center;
  }
  .bg-img{
    width: 742px;
  }
  .summarized-title {
    width: 80%;
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
  .summarized-text {
    column-count: 1;
    padding: 10px;
  }

  .summarized-title {
    width: 100%
  }
  .summarized-img {
    width: 100%;
  }
  .related-sum-container {
    h3 {
      width: 370px;
    }
  }
  .summarized-info {
    padding: 23px;
    text-align: center;
  }
  .bg-img {
    width: 300px;
  }
}
