.tagged {
  margin-top: 100px;
}

.tagged-tag p {
    text-transform: uppercase;
    letter-spacing: 1px;
  a {
    color: #999;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
}

.tagged-title {
  h1 {
  text-align: center;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 198px;
  border-bottom: 3px solid black;
  width: 80%;
  margin: 0 auto;
  }
}

.tagged-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Quicksand";
  justify-content: center;
  padding-top: 50px
}

.tagged-card {
  width: 600px;
  margin: 34px;
  border-bottom: 1px solid rgba(53, 77, 98, 0.3);
  margin-top: 0px;
  padding: 25px;
  position: relative;
  h3 {
    font-size: 30px;
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2em;
    a {
      color: rgb(53, 77, 98);
    }
    a:hover {
      color: #5582aa;
      text-decoration: none;
    }
  }
  p {
    font-size: 19px;
    text-align: justify;
    font-family: "Amiri";
    margin-bottom: 1rem;
    line-height: 1.5em;
    --lh: 2em;
    --max-lines: 2;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
  }
  a {
    color: black;
    font-weight: bold;
  }
}

.tagged-text {
  padding-bottom: 40px;
  position: relative;
  p::first-letter {
    font-size: 30px;
    font-weight: bold;
    color: rgb(53, 77, 98);
  }
}

.ellipsis {
  position: absolute;
  right: 50%;
  color: grey;
}

.tagged-site-name {
   position: absolute;
  bottom: 0;
  left: 25px;
}

.tagged-links {
  font-family: "Anton";
  text-align: center;
  font-size: 25px;
  padding: 70px;
  a {
    color: black;
  }
}

// Media Queries

// iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .tagged-title {
    h1 {
    font-size: 130px;
    width: 90%;
    }
  }
  .tagged-links {
    font-size: 20px;
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
  .tagged-title {
    h1 {
    font-size: 60px;
    width: 90%;
    }
  }
  .tagged-card {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
  .tagged-links {
    font-size: 15px;
  }
}


