<h1 class="profile-page">My Profile Page</h1>

<div class="profile-container">
  <div class="profile-infos">

    <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
    <p>Email: <%= current_user.email %></p>

  </div>
</div>
