<!-- Banner Section -->

<div class="banner">
  <div class="banner-text">
    <h1>HUNDUN | THE WORLD IN A GLIMPSE</h1>
    <p>Change your way of reading articles</p>
    <%= link_to "Import your article", new_summary_path, class: "nav-link" %>
  </div>
</div>

<!-- Our Story Section -->

<div id="about-link" class="story">
  <div class="story-text">
    <h1>O<span style="font-size: 25px;">UR</span> S<span style="font-size: 25px;">TORY</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<!-- What to Expect Section -->

<div class="expect">
  <img src="https://images.unsplash.com/photo-1497008386681-a7941f08011e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Newspaper pic">
  <div class="expect-right">
    <div class="expect-card">
  <h1>W<span style="font-size: 25px;">HAT</span> <span style="font-size: 25px;">TO</span> E<span style="font-size: 25px;">XPECT</span></h1>
      <i class="fas fa-file-alt"></i>
      <h3>Article Summary</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="expect-card">
      <i class="far fa-newspaper"></i>
      <h3>Related Articles</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="expect-card">
      <i class="fas fa-quote-left"></i>
      <h3>Keyword cloud</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

<!-- Catchphrase Section -->

<div class="catchphrase">
  <div class="catchphrase-content">
    <p><i class="fas fa-quote-left"></i> <em>Reading is essential for those who seek to rise above the ordinary. </em><i class="fas fa-quote-right"></i><br><span>Will it be you?</span></p>
    <%= link_to "Import your article", "#", class: "nav-link" %>
  </div>
</div>

<!-- Footer Section -->

<div class="footer">
  <ul class ="list-inline">
    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>
