<!-- Banner Section -->

<div class="banner">
  <div class="banner-text">
    <h1>HUNDUN | THE WORLD IN A GLIMPSE</h1>
    <p>WHY READ IT LATER | READ IT NOW</p>
    <%= link_to "Import your article", new_summary_path, class: "nav-link" %>
  </div>
</div>

<!-- What to Expect Section -->

<div class="expect">
<h1>W<span style="font-size: 25px;">HAT'S</span> <span style="font-size: 25px;"></span>H<span style="font-size: 25px;">UNDUN</span></h1>
  <div class="expect-container">
    <div class="expect-card">
      <img src="assets/newspaper-2.png" style="height: 40px; width: 40px;">
      <h3>Article Summary</h3>
      <p>Know whether the article is worth reading before spending precious time reading the entire text</p>
    </div>
    <div class="expect-card">
      <img src="assets/text-lines.png"  style="height: 40px; width: 40px;">
      <h3>Related Articles</h3>
      <p>See related articles to understand more perspectives from alternative sources</p>
    </div>
    <div class="expect-card">
      <img src="assets/search.png"  style="height: 40px; width: 40px;">
      <h3>Keyword cloud</h3>
      <p>View commonly used keywords to help you evaluate article context</p>
    </div>
  </div>
</div>

<!-- Chrome Extension Section -->
<div class="chrome-extension">
<h2>Know what you want to read in just <span>1-click</span></h2>
<p class="download">Download our Chrome Extension</p>
<%= link_to image_tag("chrome.png"), "https://chrome.google.com/webstore/detail/hundun-digest/bcgbejclkendlcingllolckhcnbpnpid?authuser=1", target: '_blank'
 %>
<p>Our service is right at your hand when browsing the internet. <br>The summary of the article you read in 1-click away, provided by HUNDUN Google Chrome Extension.</p>
</div>


<!-- Catchphrase Section -->

<div class="catchphrase">
  <div class="catchphrase-content">
    <p><i class="fas fa-quote-left"></i> <em>Reading is essential for those who seek to rise above the ordinary. </em><i class="fas fa-quote-right"></i><br><span>Will it be you?</span></p>
    <%= link_to "Import your article", new_summary_path, class: "nav-link" %>
  </div>
</div>

<!-- Footer Section -->

<div class="footer">
  <ul class ="list-inline">
    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>
