.navbar-lewagon {
  justify-content: center;
  background-color: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse a {
  padding: 30px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item a {
  font-family: 'Quicksand';
  font-size: 15px;
  color: black;
  text-decoration: none;
}
