.navbar-lewagon {
  justify-content: space-between;
  // background-color: #6A7E87;;
  // background-color: transparent;
  background-color: rgba(5, 5, 5, 0.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse a {
  // padding: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item a {
  font-family: 'Quicksand';
  font-size: 17px;
  // color: #354d62;
  text-decoration: none;
  // color: white;
  color: #6A7E87;
  font-weight: bold;
}

.navbar-active {
  display: flex;
  li {
    padding: 0 15px;
  }
}

.dropdown-menu a {
  color: black;
}
