.navbar-lewagon {
  justify-content: space-between;
  background-color: #354D62;
  // background-color: transparent;
  // background-color: rgba(5, 5, 5, 0.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse a {
  // padding: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item a {
  font-size: 15px;
  // color: #354d62;
  text-decoration: none;
  color: white;
  letter-spacing: 0.6px;
  // color: #6A7E87;
  // font-weight: bold;
}

.navbar-active {
  display: flex;
  li {
    padding: 0 15px;
  }
}

.dropdown-menu a {
  color: black;
}

// Media Queries
// iPad and Laptop

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .nav-item {
    a {
      font-size: 13px;
    }
  }
}

// Smartphone

@media (min-width: 320px)
and (max-width: 480px) {
  .navbar-lewagon {
    justify-content: start;
  }
}


